BLOCK_SIZE=64
BLOCKS=4096
MAGIC_NUMBER=TALL_GRASS
TIEMPO_DE_REINTENTO_CONEXION=10
TIEMPO_DE_REINTENTO_OPERACION=1
TIEMPO_RETARDO_OPERACION=1
PUNTO_MONTAJE_TALLGRASS=/home/utnso/tp-2020-1c-UNIX/tall-grass
LOG_FILE=DEFAULT
IP_BROKER=127.0.0.1
PUERTO_BROKER=5001
IP_GAMECARD=127.0.0.1
PUERTO_GAMECARD=5003
ID_PROCESO=100
