POSICIONES_ENTRENADORES=[1|1,3|3,5|5]
POKEMON_ENTRENADORES=[Pikachu,Pikachu,Pikachu]
OBJETIVOS_ENTRENADORES=[Pikachu|Pikachu,Pikachu|Squirtle,Pikachu|Squirtle]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=2
ALGORITMO_PLANIFICACION=RR
QUANTUM=2
IP_BROKER=127.0.0.1
ESTIMACION_INICIAL=0
PUERTO_BROKER=5002
LOG_FILE=/home/utnso/log_team1.txt
