POSICIONES_ENTRENADORES=[1|2,3|7,5|5]
POKEMON_ENTRENADORES=[Pikachu|Squirtle|Pidgey,Squirtle|Charmander,Bulbasaur]
OBJETIVOS_ENTRENADORES=[Pikachu|Pikachu|Squirtle|Pidgey,Pikachu|Charmander|Charmander,Squirtle|Bulbasaur]
TIEMPO_RECONEXION=30
RETARDO_CICLO_CPU=2
ALGORITMO_PLANIFICACION=RR
QUANTUM=2
IP_BROKER=127.0.0.1
ESTIMACION_INICIAL=0
PUERTO_BROKER=5002
LOG_FILE=/home/utnso/log_team1.txt
