TIEMPO_DE_REINTENTO_CONEXION=10
TIEMPO_DE_REINTENTO_OPERACION=1
TIEMPO_RETARDO_OPERACION=1
PUNTO_MONTAJE_TALLGRASS=/home/diego/TPCuatrimestral/tp-2020-1c-UNIX/tall-grass
IP_BROKER=127.0.0.1
PUERTO_BROKER=5001
IP_GAMECARD=127.0.0.1
PUERTO_GAMECARD=5003
ID_PROCESO=500
LOG_FILE=DEFAULT
BLOCK_SIZE=20
BLOCKS=1000
MAGIC_NUMBER=TALL_GRASS
